{% extends 'site-skeleton.html' %}

{% block body %}
    <center>
        {% if form.errors %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <center><strong>There was an error with your registration...</strong></center>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endif %}
        <h5>S.K.M.S Account Registration</h5>
        <div class="shadow p-4 mb-5 bg-body rounded" style="width:40%; text-align: left;">
            <form action="{% url 'register_user' %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }} 
                <br/>  
                <center><input type="submit" value="Submit" class="btn btn-success"></center>
            </form>
        </div>
    </center>
{% endblock %}