{% extends "site-skeleton.html" %}

{% block body %}
<center>
<h1>My Messages</h1>
<br /><br />
<div class="card row-hover pos-relative py-3 px-3 mb-3 border-warning border-top-0 border-right-0 border-bottom-0 rounded-0" style="width: 50%;">
    <div class="row align-items-center">
    
      <!-- <div class="col-md-8 mb-3 mb-sm-0"> -->
      <div>
        {% load tz %}
        <h5>
          Reported on {{post.activity_date|timezone:"America/New_York"}}
        </h5>
        <p class="text-sm"><span class="op-6"><strong>Reply by:</strong></span> <em>Risk Management Department</em></p>
        <div class="text-sm op-5" style="text-align: left;"> {{post.report_reply}}</div>
        <br>
       </div>
      

    </div>
    <br>
    <div class="reply-button-div">
    <form method="post">
    {% csrf_token %}
        <input name="mark-read" type="hidden" value="Y">
        <div class="submit-button-div">
            <button type="submit"  class="btn btn-danger" style="float: right;">Delete</button>
            <a style="color: white;" href="{% url 'submitterReportList' %}"><button class="btn btn-primary" style="float: left;">Back</a>
        </div>
    </form>
    </div>
</div>

</center>
{% endblock %}
  